
<div class="row-fluid">
    <a class="btn btn-primary btn-sm" ng-click="add()">
        <i class="icon-plus"></i> {{const.Add}}
    </a>
</div>

<div class="row-fluid">
    <table class="table bootstrap-datatable">
        <thead>
            <tr>
                <th>ID</th>
                <th>{{lconst.Name}}</th>
                <th>{{lconst.Description}}</th>
                <th>{{lconst.Enabled}}</th>
                <th>{{lconst.Register}}</th>
                <th>{{const.Operation}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="role in roles">
                <td>{{role.id}}</td>
                <td>{{role.name}}</td>
                <td>{{role.description}}</td>
                <td><div metro-checkbox ng-model="role.enabled" ng-disabled="true"></div></td>
                <td><div metro-checkbox ng-model="role.register" ng-disabled="true"></div></td>
                <td class="center">
                    <a class="btn btn-primary btn-sm" ng-click="modify($index)">
                        <i class="icon-edit"></i> {{const.Modify}}
                    </a>
                    <a class="btn btn-danger btn-sm" ng-click="remove($index)">
                        <i class="icon-trash"></i> {{const.Delete}}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>