<div class="row-fluid">
  <table class="table bootstrap-datatable">
    <thead>
      <tr>
        
        <th width="15%">ID</th>
        
        <th width="15%">{{lconst.Key}}</th>
        
        <th width="45%">{{lconst.Value}}</th>
        
        <th width="25%">{{const.Operation}}</th>
        
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="sysConfig in sysConfigs">
        
        <td>{{sysConfig.id}}</td>
        
        <td>{{sysConfig.cfgKey}}</td>
        
        <td><span ng-show="!editable[$index]">{{sysConfig.cfgValue}}</span><input ng-show="editable[$index]" ng-model="sysConfig.cfgValue"></td>
        
        <td class="center">
          <a class="btn btn-primary btn-sm" ng-click="edit($index)">
            {{const.Modify}}
          </a>
          <a class="btn btn-primary btn-sm" ng-click="save($index)">
            {{const.Save}}
          </a>
          <a class="btn btn-sm" ng-click="cancel($index)">
            {{const.Cancel}}
          </a>
        </td>        
      </tr>
    </tbody>
  </table>
</div>
