<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="LoginModule">
    <head>
        <!-- start: Meta -->
        <meta charset="utf-8">
        <title></title>

        <!-- end: Meta -->

        <!-- start: Mobile Specific -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- end: Mobile Specific -->

        <!-- start: CSS -->
        <link id="bootstrap-style" href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link id="base-style" href="css/style.css" rel="stylesheet">
        <link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
        <!-- end: CSS -->

        <!-- start: Favicon -->
        <link rel="shortcut icon" href="img/favicon.ico" >
        <!-- end: Favicon -->
    </head>

    <body style="background-color: #080808">
        <div id="login" class="container-fluid-full" ng-controller="LoginCtrl">
            <div class="row-fluid">

                <div class="row-fluid">
                    <div class="login-box">
                        <div class="icons">
                            <a href="#"><i class="halflings-icon cog"></i></a>
                        </div>
                        <h2>{{const.Login}}</h2>
                        <form class="form-horizontal" id="form">
                            <fieldset>
                                <div class="input-prepend">
                                    <span class="add-on"><i class="halflings-icon user"></i></span>
                                    <input class="input-large span10" name="username" ng-model="username" type="text" placeholder="用户名"/>
                                </div>
                                <div class="clearfix"></div>

                                <div class="input-prepend">
                                    <span class="add-on"><i class="halflings-icon lock"></i></span>
                                    <input class="input-large span10" name="password" ng-model="password" type="password" placeholder="密码"/>
                                </div>
                                <div class="clearfix"></div>

                                <div class="button-login">
                                    <button type="button" class="btn btn-primary" ng-click="login()">{{const.OK}}</button>
                                </div>

                                <div class="clearfix"></div>

                                <div class="alert alert-danger" style="margin: 5px 5px;" ng-show="hasError">
                                    <h4 class="alert-heading">{{const.Error}}</h4>
                                    <p>{{reason}}</p>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--/fluid-row-->
        
        <footer id="footer" style="border-top: 1px solid #666; position: static; bottom: 0; display:none" ng-controller="FooterCtrl">
            <p style="width: 40%;margin: auto; text-align: center;">
                <span>
                    <a target="_blank" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">
                        <img src="http://www.beian.gov.cn/img/ghs.png">
                        {{register}}
                    </a>
                </span>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>
                <span>{{company}}&copy; {{copyright}}</span>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>
                <span><a href="{{link}}">{{brand}} &#8482;</a></span>
            </p>
            
        </footer>

        <!-- start: JavaScript-->
        <script src="lib/jquery-1.9.1.min.js"></script>
        <script src="lib/jquery-migrate-1.0.0.min.js"></script>
        <script src="lib/jquery-ui-1.10.0.custom.min.js"></script>

        <script src="lib/modernizr.js"></script>
        <script src="lib/bootstrap.min.js"></script>


        <script src="lib/jquery.uniform.min.js"></script>
        <script src="lib/jquery.noty.js"></script>

        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-route.min.js"></script>
        <script src="lib/angular-resource.min.js"></script>

        <script src="angular_modules/service.js"></script>
        <script src="angular_modules/l10n.js"></script>

        <script src="src/login.js"></script>
        <!-- end: JavaScript-->
		
    </body>
</html>